html {
	height: 200px;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 226px;
	margin: 30px auto;
	font-size: 1em;
	background: #FFF;
	color: #777;
}

/********************************************************************************************** MAIN PAGE ***********************************************************************/ 

#options img {
	float: right;
}
.submit_box p {
	font-weight: 700;
	color: #000;
}
#title_name {
	margin-left: 20px;
}
.inputs_home {
	width: 350px;
	white-space: nowrap;
	text-align: center;
}
.inputs_home div {
	width: 75px;
	display: inline-block;
	white-space: normal;
}
#days {
	width: 60px;
	text-align: center;
}
.inputs_home input {
	width: 40px;
	text-align: center;
}
.checkboxs_cache, .checkboxs_time, .submit_box {
	width: 350px;
	white-space: nowrap;
	text-align: center;
}
.submit_box {
	margin-top: 20px;
}
#submit {
	background-color:#da534f;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	border: none;
}
#submit:hover {
	background-color:#eb5b57;
}
#days {
	width: 60px;
	height: 40px;
	border-radius: 5px;
	font-size: 28px;
	margin-left: 0px;
	font-weight: bold;
	text-align: center;
}

#hours, #min, #sec {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	font-size: 28px;
	margin-left: 0px;
	font-weight: bold;
	text-align: center;
}
#all-cache-p, #all-time-p {
	color: #000;
}

/******************************************************************************************* OPTIONS PAGE ***********************************************************************/ 

#container_options {
	width: 400px;
	height: 226px;
	margin-top: 20px;
}

.flags {
	width: 100%;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	margin-top: 10px;
}

.flags img {
	margin-top: 10px;
	margin-bottom: 7px;
	margin-right: 10px;
}

a {
	text-decoration: none;
}

.fr {
	margin-left: 17px;
}

.checkbox {
	margin-top: 20px;
}

#checkbox_left {
	float: left;
	margin-right: 103px;
	margin-left: 13px;
}

#checkbox_left p, .checkbox_right p {
	display: inherit;
}
